body {
    font-family: Arial;
    margin: 0;
}

header {
    background-color: skyblue;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.content h2 {
    color: darkblue;
}

button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}
